[data-name=editor-component] {
  form {
    display: flex;
    flex-direction: column;
    .c_row {
      display: flex;
      label {
        min-width: 100px;
      }
    }
    textarea[name=content] {
      min-height: 300px;
    }
  }

  .menu-icon-size-large {
    font-size: 48px;
  }
}
.right_icon {
  margin-left: 5px;
}