$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;

@import "~bootstrap/scss/bootstrap";

$mytheme-color: #6ea6d6;
$mytheme-icon-color: $mytheme-color;

@import "../util/styles";

.fa.mytheme-icon {
  color: $mytheme-icon-color;
}

.box {
  box-shadow: 4px 2px 14px 0px #b1b1b1;
  background-color: white;
  padding: 5px 15px;
}

[data-name=editor-component] {
  form {
    display: flex;
    flex-direction: column;
    .c_row {
      display: flex;
      label {
        min-width: 100px;
      }
    }
    textarea[name=content] {
      min-height: 300px;
    }
  }

  .menu-icon-size-large {
    font-size: 48px;
  }
}

[data-name=posts-index] {

}

[data-name=post-display] {
  width: 100%;
  background-color: $mytheme-color;
  padding-bottom: 10px;
  @extend .stretch;
  .column {
    max-width: 700px;
    margin: 0 auto;
    .content-wrapper {
      margin: 0 5px;
      min-height: 300px;
      position: relative;
    }
  }
  .post__display--root {
    margin: 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .p__column {
    flex-grow: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dcdcdc;
  }
  .content.box {
    margin-bottom: 10px;
  }
  .p__title {
    border-left: 5px solid #62A4D8;
    border-bottom: 1px solid #62A4D8;
  }
  .p__column, .p__title, .p__cover {
    padding: 0 5px;
  }
}

.right_icon {
  margin-left: 5px;
}

.layout-config.central_column, .container {
  @include media-breakpoint-down(sm) {
    max-width: none;
    width: 100%;
  }
}

.layout-config.central_column {
  @extend .container;
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    @extend .col;
  }
}
