<div class="container-fluid">
  <div class="mb-5 mt-3 p-2">
    <div class="mount-point" style="width: 100%">

    </div>
  </div>
  <div class="">
    <button name="__run_checks" class="btn btn-outline-primary mr-2">Run checks</button>
    <button name="__reload" class="btn btn-outline-secondary">Reload</button>
  </div>
  <div class="messages mb-6 border-primary p-3">
    <span class="__message"></span>
  </div>
  <div class="available_tests ">

  </div>
</div>