<% content_for :title do %>
  <%= @post.title %>
<% end %>
<% content_for :styles do %>
  <%= raw(@post.styles) %>
<% end %>
<% content_for :content do %>
  <div data-name="post-display">
    <div class="column">
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>